* {
	margin: 0;
	padding: 0;
}

button {
	all: unset;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: bisque;
}

.menu-images {
	display: flex;
	flex-flow: row wrap;
	margin: 1em;
	gap: 0.5em;
}

.image-card {
	position: relative;
	width: fit-content;
	height: 300px;
}

.image-card > img,
.image-card > video {
	height: 100%;
	border-radius: 5px;
	border: 1px solid white;
	box-shadow: -1px -1px 3.5px black, 1px 1px 3.5px black;
}

.image-card:hover > img,
.image-card:hover > video {
	border: 2px solid white;
}

.image-card > label {
	position: absolute;
	font-size: 10px;
	top: 5px;
	left: 5px;
	padding: 5px;
	color: white;
	background-color: rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid black;
	border-radius: 5px 2.5px;
}

.image-card:hover > label {
		display: none;
	}

.image-card > a {
	display: none;
	position: absolute;
	text-align: center;
	width: 99%;
	height: 100%;
	margin: 0.5%;
	color: rgba(255, 255, 255, 0.1);
	background-color: rgba(0, 0, 0, 0.15);
	border-radius: 5px;
}

.image-card > button {
	display: none;
	position: absolute;
	text-align: center;
	justify-content: center;
	padding: 5px;
	right: 50%;
	bottom: 5px;
	width: 15px;
	height: 15px;
	transform: translate(50%, 0);
	color: white;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 100%;
}

@keyframes slide {
	from {
		bottom: -5px;
	}
	to {
		bottom: 5px;
	}
}

.image-card:hover > button {
	display: block;
	cursor: pointer;
	animation-name: slide;
	animation-duration: 1s;
}

.image-card:hover > a {
	display: block;
	cursor: zoom-in;
}

.image-card > a:hover {
	background-color: rgba(0, 0, 0, 0.5);
	color: rgba(255, 255, 255, 0.5);
}

.menu-form {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	margin: 1em;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
}

.menu-form > form {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 5px;
	background-color: lightcoral;
}

#fileTest {
	margin: 2.5px;
	border-radius: 5px;
}

.menu-form > form > input[type="submit"] {
	position: absolute;
	height: 75%;
	right: 3px;
	padding: 2.5px;
	background-color: lightgrey;
	align-items: center;
	border-radius: 5px;
	background-color: lightgray;
	border: 1px solid black;
}

.menu-form > form > input:hover {
	cursor: pointer;
}
